{% load static %}
<hr>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url "homepage:homepage" %}" class="nav-link px-2 text-muted">Главная</a></li>
      <li class="nav-item"><a href="{% url "fire:fire_form" %}" class="nav-link px-2 text-muted">Калькулятор</a></li>
      <li class="nav-item"><a href="{% url "fire:fire_list" %}" class="nav-link px-2 text-muted">Список пожаров</a></li>
    </ul>
    <p class="text-center text-muted">
      Дипломная работа Черного Кирилла Игоревича, 
      выпускника 4-го курса АГЗ МЧС России имени 
      генерал-лейтенанта Д.И. Михайлика</p>
    <p class="text-center text-muted">&copy; 2023 ВКР</p>
  </footer>
</div>  
</footer>